@media (max-width: 1119px) {


    html,
    body {
        overflow-x: hidden;
    }

    .slider-element-maps .owl-dots {
        bottom: 0;
        right: auto;
        left: 14%;
        width: 100%;
    }

    #actualites-internes .slider-element-maps .owl-dots {
        width: 100%;
        left: 0;
    }

    .top-header {
        width: 100%;
    }

    .top-header>ul {
        width: 100%;
    }

    .main-menu ul li {
        max-width: 100%;
        padding: 10px 9px;
    }

    .wrapper-info-mohammed_vi {
        max-width: 80%;
        height: auto;
    }

    .img--mohammed_vi .border {
        right: -15px;
        bottom: -15px;
    }

    .more--link i {
        height: 30px;
        width: 30px;
    }

    .btn--investisseurs a {
        padding: 10px 10px;
    }

}

@media (max-width: 991px) {
    /* Target elements within .mobile-menu */
/* .mobile-menu .menu-subs-overlay {
    display: none;
  } */
  
  .mobile-menu .nav-link::after {
    content: "\f078"; /* Font Awesome down arrow */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-left: 10px;
    transition: transform 0.3s ease;
  }
  
  .mobile-menu .nav-item.active .nav-link::after {
    content: "\f077"; /* Font Awesome up arrow */
    transform: rotate(180deg);
  }
  
  .mobile-menu .menu-subs-overlay {
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .mobile-menu .nav-item .menu-subs-overlay {
    max-height: 0;
  }
  
  .mobile-menu .nav-item.active .menu-subs-overlay {
    display: block;
    max-height: 500px; /* Adjust height as needed */
  }
  
    .wrapper--chambre-representants .container .row:last-child {
        gap: 20px 0;
    }

    #actualites-internes .row>div:first-child .card a {
        width: 100%;
    }

    #actualites-internes .row>div:first-child .card .wrapper-img {
        height: auto;
    }

    .wrapper--decouvrir-egalement .container .row:last-child {
        gap: 20px 0;
    }

    .img----slider {
        height: auto;
        width: 100%;
    }

    .info----slider {
        width: 100%;
        padding: 10px 0;
    }

    div.slider-element-maps .item {
        justify-content: left;
        gap: 0 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .slider-element-maps .owl-dots {
        bottom: 0;
        right: auto;
        left: 0;
        width: auto;
        position: relative;
        justify-content: left;
        padding-top: 11px;
    }

    .sc-copyright {
        padding-left: 0;
    }

    div#top-footer {
        gap: 40px 0;
    }

    body footer div#top-footer>div {
        width: 100%;
        margin: auto;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .investisseurs .row {
        gap: 20px 0;
    }

    .actualites .row>div:first-child .card .card-body {
        width: 100%;
    }

    .actualites .row>div:first-child .card,
    .actualites .row>div:first-child .card a {
        flex-direction: column;
    }

    .actualites .row>div:first-child .card .wrapper-img {
        width: 100%;
    }

    .actualites .row>div {
        width: 100%;
    }

    .element-sc.active {
        gap: 30px 0;
    }

    .chambre-representants--img {
        height: auto;
    }

    .detail-item {

        padding-right: 0;
    }

    .showing--detail {
        padding-left: 0;
    }

    .detail-item {

        width: 100%;
    }

    .element-sc.active {
        flex-direction: column;
    }

    .bg-maps .container>.row>div {
        width: 100%;
    }

    .wrapper-info-mohammed_vi {
        padding: 30px;
    }

    .img--mohammed_vi {
        position: relative;
        top: auto;
        left: auto;
    }

    .items--mohammed_vi {
        gap: 45px 0;
    }

    .items--mohammed_vi {
        flex-direction: column;
        padding-top: 0;
    }

    .wrapper-info-mohammed_vi {
        max-width: 100%;
    }

    .img--mohammed_vi img {
        width: 100%;
        height: 100%;
    }
    .main-menu ul li {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .mobile-menu .nav-item.active .menu-subs-overlay {
        position: relative;
        top: auto;
        box-shadow: initial;
    }
    
    .menu-level-1 .menu-subs-col ul {
        flex-direction: column;
        justify-content: right;
        text-align: right;
    }
    
    .menu-level-1 .menu-subs-col ul li {
        width: 100%;
        border: 0;
        padding: 0;
    }
    
    .path-frontpage .main-menu .nav-item a {
        width: 100%;
        display: block;
        position: relative;
        display: flex;
        /* align-items: center; */
        justify-content: left;
        /* text-align: right; */
        /* display: flex; */
        position: relative;
    }
    
    .mobile-menu .nav-item .nav-link:after {
        content: "\f077";
        transform: rotate(180deg);
        top: -17px;
        height: 100%;
        right: 0;
        left: auto;
        position: absolute;
        display: flex;
    }
    .menu-level-1 .menu-subs-col ul .sub-menu-item-title i {
        display: none;
    }
    .active .menu-level-1{
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
    .main-menu ul li {
        padding: 5px 0;

    }
    .menu-level-1 .menu-subs-col ul {
        gap: 0px 0 !important;
        padding: 0 20px;
    }
    
    .main-menu .nav-item:hover:after {
        opacity: 1;
        width: 100%;
    }
    
    .main-menu ul li a:after {
        opacity: 1;
        width: 100%;
    }
    /* Ensure submenu is hidden by default */
.mobile-menu .menu-subs-overlay.menu-level-1 {
    max-height: 0;
    opacity: 0;
    transform: scale(0.65);
    overflow: hidden;
          transition: max-height 0.9s ease;}
  
  /* Show the submenu when active */
  .mobile-menu .nav-item.active .menu-subs-overlay.menu-level-1 {
    max-height: 500px; /* Adjust based on content */
    opacity: 1;
    transform: scale(1);
  }
  
  /* Style for the arrow indicator */
  .mobile-menu .nav-link::after {
    content: "\f078"; /* Font Awesome down arrow */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-left: 10px;
          transition: max-height 0.9s ease;}
  
  /* Rotate arrow when submenu is open */
  .mobile-menu .nav-item.active .nav-link::after {
    content: "\f077"; /* Font Awesome up arrow */
    transform: rotate(180deg);
  }
  .mobile-menu .nav-item .nav-link:after {
    color: #0F1B5C;
    font-size: 20px;
  }
  

.mobile-menu .nav-item.active .nav-link::after {
    transform: rotate(0deg);
    display: flex;
    justify-content: right;
    right: 10px;
}

  

}

@media (max-width: 767px) {
    .historique-des-chefs {
        flex-direction: column;
    }

    body .historique-des-chefs>div {
        width: 100%;
        text-align: center;
        margin: auto;
        display: flex !important;
        justify-content: center !important;
        gap: 10px 0;
    }

    .slider-element-maps .owl-dots {
        bottom: 0;
        right: auto;
        left: 0;
        width: auto;
        position: relative;
        justify-content: left;
        padding-top: 11px;
    }

    .carte-items .accordion-header button {
        font-size: 20px;
    }

    .wrapper-accessibilty {
        right: auto;
        flex-direction: column;
        justify-content: end;
        flex-direction: row;
        top: auto;
        width: 100%;
        justify-content: center;
        bottom: 20px;
        align-items: end;
    }

    .list-social-sticky ul {
        flex-direction: row;
        margin-bottom: 0;
        gap: 0 10px;
    }

    .list-social-sticky li {
        height: 40px;
        width: 40px;
    }

    .wrapper-accessibilty button {
        height: 40px;
        width: 40px;
        margin: 0 10px 0 10px;
    }

    .title--publication p {
        display: block;
    }

    .title--publication h3 {
        font-size: 20px;
        width: 100%;

    }

    .title--publication {
        bottom: 0;
        padding: 0 15px;
    }

    .top-header {
        display: none;
    }

    .main-menu nav .container-fluid button {
        background: #fff;
    }

    .tabs--item button {
        width: 100%;
        margin: 0;
        font-size: 17px;
    }

    .main-menu nav .container-fluid {
        padding: 0;
    }

    .tabs--item {
        flex-direction: column;
        padding: 5px;
    }

    .footer-top .container>div {
        margin-top: 25px;
    }

    .wrapper--investisseurs {
        padding: 20px;
    }

    .btn--investisseurs {
        flex-direction: column;
        gap: 20px 0;
    }

    .element---shwoing-service>div:last-child {

        text-align: center;
    }

    .element---shwoing-service>div:last-child {
        width: 100%;
        text-align: center;
    }

    .mohammed_vi .container>.row {
        padding-right: calc(var(--bs-gutter-x)* .5);
        padding-left: calc(var(--bs-gutter-x)* .5);
    }

    .date-right--mohammed_vi .btn--investisseurs {
        flex-direction: column;
        text-align: center;
    }

    .bg-maps .container>.row {
        padding: 15px 0;
        margin: 0 0px;
    }

    .all-box-le-maroc {
        flex-direction: column;
    }

    .item--le-maroc {
        width: 100%;
    }

    .all-box-le-maroc>div:nth-child(4),
    .all-box-le-maroc>div:nth-child(5) {
        width: 100%;
    }

    .service .container>row {}

    .service .container .row {
        margin: 0;
    }

    .all-item--service {
        padding: 15px;
    }

    .element-sc {
        padding: 15px 0;
    }

    .element---shwoing-service {
        flex-direction: column;
        padding: 15px 0;
        margin: 0 15px;
    }

    .element---shwoing-service>div:first-child {
        width: 100%;
    }

    .item--info-mohammed_vi h2 {
        width: 100%;
    }

    div#bottom-footer {
        flex-direction: column;
        gap: 15px 0;
    }

    div#bottom-footer a {
        width: 100%;
    }

    .footer-top .row>div {
        display: contents;
    }

    .border {
        display: none;
    }

    .slider-main {
        height: 50vh;
    }

    .wrapper-slider img {
        object-fit: cover;
    }

    .wrapper-slider {
        height: 50vh;
    }

    .publication-container {
        flex-direction: column;
        height: auto;
    }

    .wrapper-scroll {
        width: 100%;
    }

}