@media (max-width: 1119px) {

    html,
    body {
        overflow-x: hidden;
    }

    .top-header {
        width: 100%;
    }

    .top-header>ul {
        width: 100%;
    }

    .main-menu ul li {
        max-width: 100%;
        padding: 10px 9px;
    }

    .wrapper-info-mohammed_vi {
        max-width: 80%;
        height: auto;
    }

    .img--mohammed_vi .border {
        right: -15px;
        bottom: -15px;
    }

    .more--link i {
        height: 30px;
        width: 30px;
    }

    .btn--investisseurs a {
        padding: 10px 10px;
    }

}

@media (max-width: 991px) {
    .sc-copyright {
        padding-left: 0;
    }

    div#top-footer {
        gap: 40px 0;
    }

    body footer div#top-footer>div {
        width: 100%;
        margin: auto;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .investisseurs .row {
        gap: 20px 0;
    }

    .actualites .row>div:first-child .card .card-body {
        width: 100%;
    }

    .actualites .row>div:first-child .card,
    .actualites .row>div:first-child .card a {
        flex-direction: column;
    }

    .actualites .row>div:first-child .card .wrapper-img {
        width: 100%;
    }

    .actualites .row>div {
        width: 100%;
    }

    .element-sc.active {
        gap: 30px 0;
    }

    .detail-item {

        padding-right: 0;
    }

    .showing--detail {
        padding-left: 0;
    }

    .detail-item {

        width: 100%;
    }

    .element-sc.active {
        flex-direction: column;
    }

    .bg-maps .container>.row>div {
        width: 100%;
    }

    .wrapper-info-mohammed_vi {
        padding: 30px;
    }

    .img--mohammed_vi {
        position: relative;
        top: auto;
        left: auto;
    }

    .items--mohammed_vi {
        gap: 45px 0;
    }

    .items--mohammed_vi {
        flex-direction: column;
        padding-top: 0;
    }

    .wrapper-info-mohammed_vi {
        max-width: 100%;
    }

    .img--mohammed_vi img {
        width: 100%;
        height: 100%;
    }

}

@media (max-width: 767px) {
    .top-header {
        display: none;
    }

    .main-menu nav .container-fluid button {
        background: #fff;
    }

    .tabs--item button {
        width: 100%;
        margin: 0;
        font-size: 17px;
    }

    .main-menu nav .container-fluid {
        padding: 0;
    }

    .tabs--item {
        flex-direction: column;
        padding: 5px;
    }

    .footer-top .container>div {
        margin-top: 25px;
    }

    .wrapper--investisseurs {
        padding: 20px;
    }

    .btn--investisseurs {
        flex-direction: column;
        gap: 20px 0;
    }

    .element---shwoing-service>div:last-child {

        text-align: center;
    }

    .element---shwoing-service>div:last-child {
        width: 100%;
        text-align: center;
    }

    .mohammed_vi .container>.row {
        padding-right: calc(var(--bs-gutter-x)* .5);
        padding-left: calc(var(--bs-gutter-x)* .5);
    }

    .date-right--mohammed_vi .btn--investisseurs {
        flex-direction: column;
        text-align: center;
    }

    .bg-maps .container>.row {
        padding: 15px 0;
        margin: 0 0px;
    }

    .all-box-le-maroc {
        flex-direction: column;
    }

    .item--le-maroc {
        width: 100%;
    }

    .all-box-le-maroc>div:nth-child(4),
    .all-box-le-maroc>div:nth-child(5) {
        width: 100%;
    }

    .service .container>row {}

    .service .container .row {
        margin: 0;
    }

    .all-item--service {
        padding: 15px;
    }

    .element-sc {
        padding: 15px 0;
    }

    .element---shwoing-service {
        flex-direction: column;
        padding: 15px 0;
        margin: 0 15px;
    }

    .element---shwoing-service>div:first-child {
        width: 100%;
    }

    .item--info-mohammed_vi h2 {
        width: 100%;
    }

    div#bottom-footer {
        flex-direction: column;
        gap: 15px 0;
    }

    div#bottom-footer a {
        width: 100%;
    }

    .footer-top .row>div {
        display: contents;
    }

    .border {
        display: none;
    }

    .slider-main {
        height: 50vh;
    }

    .wrapper-slider img {
        object-fit: cover;
    }

    .wrapper-slider {
        height: 50vh;
    }

    .publication-container {
        flex-direction: column;
        height: auto;
    }

    .wrapper-scroll {
        width: 100%;
    }

}